---
# front matter placeholder
---

@charset "utf-8";

$accent-color: orange;
$background-color: #11111b;
$text-color: #cdd6f4;
// $base-color: #252a34 !default;
// $code-background-color: #fff !default;
// $border-color: rgba($text-color, 0.5) !default;
// $overlay-color: #fff !default

/* Base font family */
$base-font-family: "Fira Sans", sans-serif;
/* Other font families */
$headline-font-family: "JetBrains Mono", monospace;
// $monospace-font-family: Menlo, Consolas, Monaco, "Courier New", Courier,

@import "basically-basic/themes/{{ site.data.theme.skin | default: 'night' }}";
@import "basically-basic";
